@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

#root {
  display: flex;
}

.appIcon {
  width: inherit;
  height: inherit;
  color: currentColor;
}

main {
  min-height: calc(100vh - 4em);
}

.sidebar li {
  border-radius: 0.375rem;
}

.sidebar li a {
  @apply inline-block w-full rounded-md h-11 flex items-center pl-5 font-medium text-secondary-200 cursor-pointer transition-all flex items-center gap-x-3 hover:shadow-md;
}

.sidebar li.active a {
  @apply text-primary-200 bg-blue-200/60;
}

.sidebar li:not(.active):hover {
  @apply bg-blue-200/80;
}

.sidebar li.active:hover {
  @apply bg-primary-250/20;
}

.sidebar .icon {
  @apply w-6 h-6;
}
