@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

#root {
  display: flex;
}

.appIcon {
  width: inherit;
  height: inherit;
  color: currentColor;
}

.sidebar {
  @apply space-y-2;
}

.sidebar li {
  border-radius: 0.5rem;
}

.sidebar li a {
  @apply inline-block w-full rounded-md h-11 flex items-center pl-5 font-medium text-secondary-200 cursor-pointer transition-all;
}

.sidebar li a {
  @apply flex items-center gap-x-3;
}

.sidebar li.active a {
  @apply text-primary-200 bg-primary-100/10;
}

.sidebar li:not(.active):hover {
  @apply bg-primary-100/10;
}

.sidebar li.active:hover {
  @apply bg-primary-250/20;
}

.sidebar .icon {
  @apply w-6 h-6;
}
